@import "@/styles/css/reset.css";

@tailwind base;

@tailwind components;

@tailwind utilities;


@import "@/styles/css/style.css";

:root{
    --cl: black;
}

.card-projet{
    background-color: #171717;
}

.btn-admin{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    transition: 0.5s;
 }

 .btn-admin ion-icon{
    font-size: 18px;
    color: black;
    transition: 0.5s;
}

.btn-admin:hover, .btn-admin:hover ion-icon{
    transform: scale(1.2);
}
.card-projet:nth-child(3n+1){
    grid-row: span 3;
}

.card-projet:nth-child(3n+2){
    grid-row: span 2;
}

.card-projet:nth-child(3n+3){
    grid-row: span 3;
}

.card-projet:nth-child(3n+1){
    grid-row: span 3;
}

#menu{
    opacity: 0;
    z-index: -1;
}

#menu.active{
    opacity: 1;
    z-index: 10;
}

.card-projet-admin{
   overflow: hidden;
}

.card-projet-admin img{
   transition: 0.5s;
}

.card-projet-admin > div{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0;
   left: 0;
}

.card-projet-admin > div{
    display: none; 
}

.card-projet-admin .btn-admin{
    border: 1px solid white;
 }

 .card-projet-admin .btn-admin ion-icon{
    color: white;
}

.card-projet-admin:hover img{
    filter:  brightness(40%);
    transform: scale(1.1);
}

.card-projet-admin:hover > div{
    display: flex;
}

#menu{
    padding: 5vw;
}

#menu .menu-item{
    margin-bottom: 0px;
}

#menu .menu-item a{
    font-size: 13vh;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 600;
    text-stroke: 2px red;
    -webkit-text-stroke: 1px var(--cl);
    color: white;
    font-family: Helvetica, sans-serif;
}

#menu .menu-item.active a, #menu .menu-item:hover a{
    color: var(--cl);
}

#description{
    display: block;
    resize: none;
    overflow: hidden;
    height: auto;
}