@tailwind base;

@tailwind components;

@tailwind utilities;

@import "@/styles/reset.css";
@import "@/assets/js/myAnimation/css/style.css";


/* GENERALES */

body{
    @apply font-montserrat;
}

:root{
    --cl: #171717;
}

@layer base {
    html {
      font-family: Montserrat, sans-serif;
    }
  }

h1, h2, h3, h4, h5{
    @apply leading-tight;
}

a{
    @apply cursor-pointer;
}

/* Curseur */
.cursor.cursor-difference .cursor-part{
    @apply bg-red-600;
}

.cursor.cursor-round .cursor-base{
    @apply w-5 h-5;
}

/* Banner title */
.banner{
    @apply w-full px-[5vw] md:pt-[15vw] pt-[15vh] flex justify-between items-end mb-[5vw];
}

.banner h1{
    @apply md:text-7xl text-4xl font-semibold uppercase w-fit max-w-[80%] text-black;
}

/* Card projet */
.card-projet{
    background-color: theme("colors.cl-black");
}

.card-projet:nth-child(3n+1){
    grid-row: span 3;
}

.card-projet:nth-child(3n+2){
    grid-row: span 2;
}

.card-projet:nth-child(3n+3){
    grid-row: span 3;
}

.card-projet-admin{
    @apply overflow-hidden;
 }
 
 .card-projet-admin img{
    @apply duration-500;
 }
 
 .card-projet-admin > div{
    @apply h-full w-full items-center justify-center absolute inset-x-0 hidden;
 }
 
 .card-projet-admin .btn-admin{
    @apply border border-solid border-white;
  }
 
  .card-projet-admin .btn-admin ion-icon{
    @apply text-white;
 }
 
 .card-projet-admin:hover img{
    filter:  brightness(40%);
    transform: scale(1.1);
 }
 
 .card-projet-admin:hover > div{
    @apply flex;
 }

 /* Formulaires */

input, textarea{
    @apply outline-[#0000009d]
}

 #description{
    @apply block resize-none overflow-hidden h-auto;
}

#message{
    @apply block text-white p-[20px] fixed right-0 bottom-0;
    background-color: theme(colors.cl-black);
}

.champs{
    @apply bg-transparent border-b-2 border-black mb-[20px] py-[10px] px-[20px];
}

.form-btn{
    @apply mb-[20px] w-fit h-fit py-[10px] px-[20px] bg-black text-white;
}

.btn-admin{
    @apply ml-[20px] w-[50px] h-[50px] rounded-full border border-solid border-black flex items-center justify-center duration-500;
    /* border-radius: 50%; */
 }

 .btn-admin ion-icon{
    @apply text-lg text-black duration-500;
}

.btn-admin:hover, .btn-admin:hover ion-icon{
    transform: scale(1.2);
}

.btn-upload{
    @apply my-[20px] bg-purple-800 text-white py-[10px] px-[20px];
}

/* MENU */

#menu{
    @apply p-[5vw]
}

#menu .menu-item{
    margin-bottom: 0px;
    @apply mb-0;
}

#menu .menu-item a{
    @apply text-[13vh] tracking-[10px] uppercase font-semibold text-white;
    -webkit-text-stroke: 1px var(--cl);
    font-family: Helvetica, sans-serif;
}

#menu.active{
    @apply z-10 opacity-100;
}

#menu .menu-item a.active, #menu .menu-item:hover a{
    color: var(--cl);
}

.menu-btn.active .cross{
    @apply block;
}

.menu-btn.active .hamburger{
    @apply hidden;
}

/* HOME */
/* header */
.title-section-home, .title-section-home-reverse{
    @apply pr-[10px] h-full w-full border-solid border-black sm:flex justify-center items-center box-border hidden;
}

.title-section-home{
    @apply border-r;
}

.title-section-home-reverse{
    @apply border-l;
}

.title-section-home h3, .title-section-home-reverse h3{
    @apply text-[6vw] font-bold uppercase font-sans;
    writing-mode: vertical-lr;
    -webkit-text-stroke: 1.5px #000000;
    animation: fillstroke infinite 1s ;
}
.title-section-home h3{
    transform: rotate(180deg);
}

.title-section-home-mobile, .title-section-home-mobile-reverse{
    @apply text-[10vw] font-bold uppercase font-sans mb-10 sm:hidden block;
    -webkit-text-stroke: 1.5px #000000;
    animation: fillstroke infinite 1s ;
}

.title-section-home-mobile-reverse{
    @apply text-[10vw] font-bold uppercase font-sans mb-10 text-end;
}


.scroll span{
    animation: scroll 1.6s  infinite;
}

/* KEYFRAMES */
@keyframes scroll{
    0%{
        top: 0;
    }
    10%{
        top: 0;
    }
    50%{
        top: 60%;
    }
    100%{
        top: 0;
    }
}

@keyframes fillstroke{
    0%{
         color: #ffffff;
    }
    49%{
        color: #ffffff;
    }
    50%{
        color: #000;
   }
    100%{
        color: #000;
     }
}
